name: Test

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    name: Node.js ${{ matrix.node-version }}
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.17.x, 20.x]
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
      - name: Install dependencies
        run: npm ci
      - name: Test
        run: npm test
      - name: Test example (build-deps)
        run: |
          cd examples/build-deps
          npm i
          npm test
      - name: Test example (build-js)
        run: |
          cd examples/build-js
          npm i
          npm test
      - name: Test example (build-soy)
        run: |
          cd examples/build-soy
          npm i
          npm test
      - name: Test in the oldest Closure Tools
        run: |
          npm i --no-save google-closure-compiler@20180910 google-closure-deps@20210406
          OLDEST_COMPILER=1 npm run unit
      - name: Test examples in the oldest Closure Tools (build-js)
        run: |
          cd examples/build-js
          npm i --no-save google-closure-library@20180910
          npm test
      - name: Report coverage to codecov
        if: matrix.node-version == '18.17.x'
        uses: codecov/codecov-action@b9fd7d16f6d7d1b5d2bec1a2887e65ceed900238 # v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }} # required
          verbose: true # optional (default = false)
